.nav-wrapper{
    background: white;
    color: #212529;
}
.nav-wrapper img{
    margin-top: 5px;
}
.page-footer{
    border-top: black;
    border-style: solid ;
    border-width: 1px;
    background: white;
    font-family: Arial, serif;
}
.pizzochka img{
    font-size: 27px;
}

.main {
    flex: 1;
    padding: 20px;
}
