.nav-wrapper{
    background: white;
    color: #212529;
}
.nav-wrapper img{
    margin-top: 5px;
}
.page-footer{
    border-top: black;
    border-style: solid ;
    border-width: 1px;
    background: white;
    font-family: Arial, serif;
}
.sushik img{
    font-size: 27px;
}

.main {
    flex: 1;
    padding: 20px;
}
.card-panel {
    background-color: #ff5722;
}

.card-panel i {
    color: aliceblue;
    text-shadow: 0px 0px 2px black;
}

.card-panel span {
    color: aliceblue;
    text-shadow: 0px 0px 2px black;
}
.aside {
    background-color: #ff8a65;
    width: 0vw;
    font-family: "Hepta Slab", Helvetica, Arial;
    transition: all ease 0.2s;
    overflow-x: hidden;
}
.active{
    color: black;
}
.aside.show {
    width: 100%;
}
.cart--area {
    padding: 20px;
}
.models {
    display: none;
}
.sushi-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
.sushi-item--img {
    width: 200px;
    height: 200px;
    background-color: #eee;
    border-radius: 100px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.2);
}
.sushi-item--img img {
    width: 100%;
    height: auto;
}
.sushi-item--add {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 25px;
    background-color: #388bc5;
    text-align: center;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    margin-top: -25px;
    transition: all ease 0.2s;
}
.sushi-item a:hover .sushi-item--add {
    background-color: #244c88;
}
.sushi-item--price {
    font-size: 15px;
    color: #333;
    margin-top: 5px;
}
.sushi-item--name {
    font-size: 20px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
}
.sushi-item--desc {
    font-size: 13px;
    color: #555;
    margin-top: 10px;
}


.sushiInfo--cancelMobileButton {
    display: none;
    height: 40px;
    width: 40px;
    text-align: center;
    line-height: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: rgb(238, 69, 69);
    cursor: pointer;
    transition: background-color 0.2s;
}

.cart {
    margin-bottom: 20px;
}
.cart--item {
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.cart--item img {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.cart--item-nome {
    flex: 1;
}
.cart--item--qtarea {
    display: inline-flex;
    background-color: #eee;
    border-radius: 10px;
    height: 30px;
}
.cart--item--qtarea button {
    border: 0;
    background-color: transparent;
    font-size: 17px;
    outline: 0;
    cursor: pointer;
    padding: 0px 10px;
    color: #333;
}
.cart--item--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color: #000;
}
