.nav-wrapper{
    background: white;
    color: #212529;
}
.nav-wrapper img{
    margin-top: 5px;
}
.page-footer{
    border-top: black;
    border-style: solid ;
    border-width: 1px;
    background: white;
    font-family: Arial, serif;
}
.pizzochka img{
    font-size: 27px;
}

.main {
    flex: 1;
    padding: 20px;
}
.card-panel {
    background-color: #ff5722;
}

.card-panel i {
    color: aliceblue;
    text-shadow: 0px 0px 2px black;
}

.card-panel span {
    color: aliceblue;
    text-shadow: 0px 0px 2px black;
}
.aside {
    background-color: #ff8a65;
    width: 0vw;
    font-family: "Hepta Slab", Helvetica, Arial;
    transition: all ease 0.2s;
    overflow-x: hidden;
}
.active{
    color: black;
}
.aside.show {
    width: 100%;
}
.cart--area {
    padding: 20px;
}
